<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign in | Nubes</title>
</head>
<body>
	{{ if .logo }}
	<img src="{{ .logo }}" />
	{{ end }}
    <form action="/openid/authorization" method="POST">
        <input type="hidden" name="scope" value="{{ .request.Scope }}">
		<input type="hidden" name="response_type" value="{{ .request.ResponseType }}">
		<input type="hidden" name="client_id" value="{{ .request.ClientID }}">
		<input type="hidden" name="redirect_uri" value="{{ .request.RedirectURI }}">
		<input type="hidden" name="state" value="{{ .request.State }}">
		<input type="hidden" name="response_mode" value="{{ .request.ResponseMode }}">
		<input type="hidden" name="nonce" value="{{ .request.Nonce }}">
		<input type="hidden" name="display" value="{{ .request.Display }}">
		<input type="hidden" name="prompt" value="{{ .request.Prompt }}">
		<input type="hidden" name="max_age" value="{{ .request.MaxAge }}">
		<input type="hidden" name="ui_locales" value="{{ .request.UILocales }}">
		<input type="hidden" name="id_token_hint" value="{{ .request.IDTokenHint }}">
		<input type="hidden" name="login_hint" value="{{ .request.LoginHint }}">
		<input type="hidden" name="acr_values" value="{{ .request.ACRValues }}">
        <label for="username">Username</label>
        <input id="username" name="username" type="text">
        <label for="password">Password</label>
        <input id="password" name="password" type="password">
        <input type="submit" value="Sign in">
    </form>

	{{ if .policy }}
		<a id="policy_uri" href="{{ .policy }}">Privacy policy</a>
	{{ end }}
	{{ if .tos }}
		<a id="tos_uri" href="{{ .tos }}">Terms of service</a>
	{{ end }}
</body>
</html>