{{ if .client_uri }}
<a href="{{ .client_uri }}" rel="noopener noreferrer" target="_blank">
{{ end }}

    {{ if .logo }}
        <img src="{{ .logo }}" />
    {{ else if .client_name }}
        <h3>{{ .client_name }}</h3>
    {{ end }}

{{ if .client_uri }}
</a>
{{ end }}

{{ if .policy }}
    <a id="policy_uri" rel="noopener noreferrer" target="_blank" href="{{ .policy }}">
        {{ if .client_name }}{{ .client_name }}{{ end }} Privacy policy
    </a>
{{ end }}
{{ if .tos }}
    <a id="tos_uri" rel="noopener noreferrer" target="_blank" href="{{ .tos }}">
        {{ if .client_name }}{{ .client_name }}{{ end }} Terms of service
    </a>
{{ end }}