<%= render "edit", title: "Update your date of birth" do |f| %>
  <div>
    <%= f.label :birthdate do %>Birthday<% end %>
    <%= render TextFieldComponent.new(
      id: "user_birthdate",
      name: "user[birthdate]",
      value: @user.birthdate,
      max: Date.today.iso8601,
      type: :date,
      autofocus: true
    ) %>
  </div>

  <details>
    <summary>How is your date of birth used?</summary>
    <ul>
      <li>To wish you a happy birthday.</li>
      <li>To generate shareable Contacts cards (digital business cards).</li>
      <li>If you use <i>OpenID Connect</i>, the website you sign in to may ask for your date of birth. You may then refuse to share it.</li>
    </ul>
  </details>
<% end %>