<%= render "edit", title: "Change your name" do |f| %>
  <% %i[given_name middle_name family_name].each_with_index do |component, i| %>
    <div>
      <label for="<%= component %>"><%= component.to_s.humanize %></label>
      <%= render TextFieldComponent.new(
        name: "user[#{component}]",
        value: @user.send(component),
        autofocus: i == 0,
        enterkeyhint: "done"
      ) %>
    </div>
  <% end %>

  <details>
    <summary>How is your name used?</summary>
    <ul>
      <li>To distinguish you from other users on your Nubes instance.</li>
      <li>To generate shareable Contacts cards (digital business cards).</li>
      <li>Your first name is also used to refer to you informally.</li>
      <li>If you use <i>OpenID Connect</i>, the website you sign in to may ask for your name. You may then refuse to share it.</li>
    </ul>
  </details>
<% end %>
